Oracle_VM_VirtualBox_Extension_Pack*
easygitianbuilder/
GPG_Suite-*dmg*
SHA256SUMS
USER_CONFIG.env
VirtualBox-5*
Xcode_7.3.1.dmg
binaries/*
cache/*
inputs/*
results/*
.vagrant
*.vdi
*.vmdk
*.ovf
vagrant_2.0.0*
*.box
.prereq_install_complete
.vbox-vm-initialized
.vbox-vm-snapshot-clean
.skip_osx_builds
