Oracle_VM_VirtualBox_Extension_Pack*
Build_History.EGB
EasyGitian.env
easygitianbuilder/
GPG_Suite-*dmg*
*SHA256SUMS
USER_CONFIG.env
VirtualBox-5*
virtualbox-5*
Xcode_*.dmg
binaries/*
cache/*
inputs/*
results/*
repos/*
!*/.easygitian-dir
.vagrant
*.vdi
*.vmdk
*.ovf
vagrant_2.0.0*
*.box
.prereq_install_complete
.vbox-vm-initialized
.vbox-vm-snapshot-clean
.skip_osx_builds
.Vbox_installed
.vagrant_installed

