VGITIAN_SIGN=false
VGITIAN_VERIFY=false
VGITIAN_BUILD=true
VGITIAN_SETUPENV=false
VGITIAN_LINUX=true
VGITIAN_WIN=false
VGITIAN_OSX=false
VGITIAN_SIGNER="notconfiguredgitian@mazacoin.org"
VGITIAN_VERSION=0.14.6
VGITIAN_COMMIT=false
VGITIAN_URL="https://github.com/bitcoin-abc/bitcoin-abc"
VGITIAN_PROC=3
VGITIAN_MEM=3500
