#!/bin/bash
export VGITIAN_SIGN=true
export VGITIAN_VERIFY=true
export VGITIAN_BUILD=true
export VGITIAN_SETUPENV=false
export VGITIAN_LINUX=true
export VGITIAN_WIN=true
export VGITIAN_OSX=true
export VGITIAN_SIGNER=
export VGITIAN_VERSION=0.14.6
export VGITIAN_COMMIT=
export VGITIAN_URL=https://github.com/bitcoin-abc/bitcoin-abc
export VGITIAN_PROC=4
export VGITIAN_MEM=3500
